* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Poppins-Regular;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Poppins-Bold";
  src: local("Poppins-Bold"), url(../../utils/Poppins-Bold.ttf) format(
    "opentype");
}
@font-face {
  font-family: "Poppins-Semibold";
  src: local("Poppins-Semibold"), url(../../utils/Poppins-Semibold.ttf) format(
    "opentype");
}
@font-face {
  font-family: "Poppins-Regular";
  src: local("Poppins-Regular"), url(../../utils/Poppins-Regular.ttf) format(
    "opentype");
}
@font-face {
  font-family: "Poppins-Thin";
  src: local("Poppins-Thin"), url(../../utils/Poppins-Thin.ttf) format(
    "opentype");
}